@import './home.css';
@import './modal.css';
@import './animations.css';

/* General */
@font-face {
  font-family: 'Gotham Ssm';
  src: url('../assets/font/GothamSSm-Medium.woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotham Ssm',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

/* Header */
.header {
  padding: 12px 25px 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.logo-div {
  width: 152px;
  height: 32px;
  padding: 0 16px;
  display: grid;
  place-items: center;
}

.logo-div img {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 115px;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav ul li {
  transition: .6s ease-in-out;
}

.nav ul li:hover {
  background-color: rgba(0,0,0,.05);
  border-radius: 4px;
}

.nav ul li a {
  padding: 4px 8px;
  color: #171a20;
  line-height: 20px;
  font-size: 0.875rem;
  display: inline-flex;
  font-weight: 500;
  border-radius: 4px;
}

.nav span {
  margin: 0 8px;
}

.nav ul:nth-child(2) li:last-child a span {
  margin: 0;
  margin-left: 8px;
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7px;
}

.footer  ul {
  display: flex;
  gap: 14px;
  padding: 20px 32px;
}

.footer ul li a {
  padding: 8px 0;
  font-size: 0.75rem;
  color: #5c5e62;
}

