/* General */
@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/font/Gotham\ Book.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotham Book',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.App {
  display: flex;
  height: 900px;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.header {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-div {
  width: 152px;
  height: 32px;
  padding: 0 16px;
  display: grid;
  place-items: center;
}

.logo-div img {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 115px;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav ul li {
  transition: .6s ease-in-out;
}

.nav ul li:hover {
  background-color: rgba(0,0,0,.15);
  border-radius: 4px;
}

.nav ul li a {
  padding: 4px 8px;
  color: #171a20;
  line-height: 20px;
  font-size: 0.925rem;
  display: inline-flex;
  font-weight: 500;
}

.nav span {
  margin: 0 8px;
}

/* Footer */
.footer {
  width: 100%;
  display: grid;
  place-items: center;
}

.footer  ul {
  display: flex;
  gap: 14px;
  padding: 20px 32px;
}

.footer ul li a {
  padding: 8px 0;
  font-size: 0.875rem;
  color: #5c5e62;
}
